.form-box {
  border: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  margin: 75px 75px;
  width: 1200px;
  height: 1200px;
  overflow: hidden;
}

.form-box h1 {
  text-align: center;
}

.form-box .add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form .form-add-item {
  text-align: right;
}

form .form-add-item input {
  margin: 45px 400px 45px 100px;
}

form .form-add-item .time-picker input {
  margin: 0em;
}
