.modal {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-box {
  display: flex;
  border: 2px solid black;
  background-color: white;
}

.form-box h1 {
  text-align: center;
}

.form-box .add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form .form-add-item {
  text-align: right;
}

form .form-add-item input {
  margin: 45px 400px 45px 100px;
}

form .form-add-item .time-picker input {
  margin: 0em;
}
