.event-expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  margin: 75px 75px;
  width: 1200px;
  height: 1200px;
  overflow: hidden;
}

.event-expanded .compress {
  align-self: flex-end;
  margin: 15px 15px;
}
