.event-preview {
  display: flex;
  border-bottom: 2px solid black;
  width: 100%;
  flex-direction: column;
}

.event-preview:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.event-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.title-preview {
  margin-left: 20px;
  font-size: 40px;
  font-weight: 435;
  height: 60px;
  color: #495159;
  font-family: "Baloo Tammudu 2";
}

.description-preview {
  margin-left: 20px;
  color: #6D737A;
  text-align: left;
  font-size: 25px;
  font-family: "Baloo Tammudu 2";
}

.delete {
  margin-left: auto;
}
