.event-preview {
  display: flex;
  border-bottom: 2px solid black;
  margin: 20px 75px 0px 75px;
  width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.title {
  margin-left: 20px;
  font-size: 40px;
  font-weight: 435;
  height: 60px;
  color: #495159;
  font-family: "Baloo Tammudu 2";
}

.description {
  margin-left: 20px;
  color: #9796ab;
  text-align: left;
  font-size: 25;
  font-family: "Baloo Tammudu 2";
}

.delete {
  margin-left: auto;
}
